nav a{
    background-color: #e9967a;
    color: #000000;
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-right: 2%;
    height: 30px;
    padding-top: 5px;
}

a{
    color: #8b0000;
    
}

.current{
    background-color: #87cefa;
    color: #4b0082;
    font-variant: small-caps;
}