h2{
    text-align: center;
}

div{
    background-color: #ff1493;
    color: #000000;
    box-sizing:border-box;

    width: 48%;
    border: 10px inset #2914e4;
    display: inline-block;
    margin: 5px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 50px;

}