body{
    background-color: lightpink;
    margin: 20px;
    border: 2px groove black;
}

#message{
    background-color: mediumvioletred;
    color: mediumblue;
    border: 2px groove black;
    padding: 7px;
    text-align: center;
    font-size: 160%;
}

.preview{
    display: inline-block;
    padding: 7px;
    border: 1px solid black;
    width:30%;
}

